/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.logo {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Mobile menu styles */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: 0.4s;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for responsiveness */
@media (min-width: 769px) and (max-width: 1440px) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav.active {
    display: flex;
  }

  .mobile-menu-toggle {
    display: block;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 25px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  width: 250px;
  transition: border-color 0.3s ease;
}
select:hover {
  border-color: #aaa;
}

select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
